@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,300i,400italic,400);

html, body{
  height:100vh;
}

body{
  font-family:"Roboto Mono";
  font-size: 1.2rem;
  color: #222;
}
h1, h2, h3{
  font-weight: 100;
}

.btn{
  font-size:1.5rem;
}
.page{
  padding-top:30px;
}
input{
  margin:10px;
}
input[type=radio]{
  width:32px;
  height:32px;
  margin:10px;
}

.contentMain{
  display:flex;
  flex-direction: column;
  height:90vh;
}
.contentMain form{
  flex-grow: 1;
  display: block;
}

.contentBottom{
  display:flex;
  justify-content: center;
  padding-bottom:30px;
}

.rainbow{
		animation: rainbow 500ms linear;
		animation-iteration-count: infinite;
}


@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
