@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400italic,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400);

:root{
  --color-primary: #6fa9cc;
  --hue-primary: 202.5806451612903deg;
}
body {
  font-family: 'Roboto';
  color:#222;
}

#source{
  display:none;
}

.loading{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.loading img{
  filter: brightness(1.05);
  width: 150px;
}

.remark-slide-content {
  background-color: rgb(53, 47, 59);
  color:#eee;
  border-bottom: solid 15px var(--color-primary);
}

.remark-slide-content h1 {
  font-weight: 100;
}

.remark-slide-content h2, .remark-slide-content h3{
  font-weight: 300;
  font-size: 2rem;
}

.remark-code, .remark-inline-code { font-family: 'Roboto Mono'; }

/* SLIDE SPECIFIC CONTENT */

.remark-slide-container:first-of-type .remark-slide-content{
  border-bottom: none;
}

.remark-slide-content .title h1{
  font-size: 5rem;
}

.slide1-content{
  backdrop-filter: blur(5px);
  padding: 10px;
  background-color: #0004;
  border-bottom: 5px solid var(--color-primary);
}
.slide1-content img{
  width:64px;
  filter: invert(1);
}
.slide1-content a{
  color:#fff;
}
p{
  word-wrap: anywhere;
}

.undraw img{
  width: 450px;
  filter:hue-rotate(var(--hue-primary));
}
.undrawSmolRight img, .undrawSmolLeft img{
  width: 300px;
  filter:hue-rotate(var(--hue-primary));
}
.undrawSmolRight{
  float: right;
  margin-top: 100px;
  margin-left: 50px;
}
.undrawSmolLeft{
  float: left;
  margin-top: 100px;
  margin-right: 50px;
    filter:hue-rotate(--hue-primary);

}

.team{
  width:100%;
  display: flex;
  justify-content: space-around;
}
.person{
  text-align: center;
  max-width: 300px;
  margin:10px;
}
.person h3{
  font-size: 1.5rem;
}
.person img{
  object-fit: cover;
  width:150px;
  height:150px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
